*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Rockwell";
}
h1 {
  font-size: 3rem;
  border-bottom: 1px solid coral;
  /* color: aqua; */
}
h2 {
  font-size: 1.5rem;
  color: black;
  margin-top: 65px;
  width: 650px;
  height: 50px;
  padding-left: 100px;
}

a {
  text-decoration: none;
  color: darkorchid;
}
p {
  font-size: 1.3rem;
  color: rgb(55, 55, 55);
  padding: auto;
  margin: 0 auto;
  width: 600px;
  line-height: 60px;
}

.h1-tittle {
  color: palevioletred;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.3); */
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 40vh;
  /* background-color: bisque; */
  background-image: url(./images/Startpage.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

input {
  margin: 0 auto;
  margin-top: 50px;
  display: block;
  /* Your other styles for input */
  width: 200px;
  height: 50px;
}

/* Adjust styles for the endingBox */
.endingBox {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: flex-end; /* Align to the bottom */
  margin-top: 20px; /* Adjust top margin as needed */
  position: absolute; /* Position relative to the parent container */
  bottom: 100px; /* Adjust bottom position as needed */
  left: 50%;
  transform: translateX(-50%); /* Center horizontally */
}

/* Adjust button styles */
.endingBtn {
  font-size: 20px;
  color: gray;
  width: 150px; /* Adjust button width as needed */
}

.hide {
  display: none;
}

.btn {
  margin: 10px;
  margin-top: 130px;
  margin-bottom: 10px;
  /* margin: auto; */
  border: none;

  font-size: 16px; /* Increase the font size for bigger buttons */
  /* padding: 20px 35px; */
  width: 195px;
  height: 60px;
  background-color: transparent;
  background-image: url(./images/smallbutton.png);
  background-repeat: no-repeat;
  /* padding: 20px; */
}

.btn-guess-deco {
  /* margin-top: 10px; */
  margin-top: 30px;
  border: none;
  font-size: 20px; /* Increase the font size for bigger buttons */
  width: 195px;
  height: 60px;
  background-color: transparent;
  background-image: url(./images/smallbutton.png);
  background-repeat: no-repeat;
}

.btn-next {
  padding: 15px 10px; /* Adjust the padding for the button */
  margin: 68px 340px 0px;
  width: auto; /* Allow the button to adjust its width based on content */
  float: right;
  /* position: absolute; */
  background-color: #f8f6cf;
  box-shadow: 0px -2px 5px #e5c799 inset;
  box-shadow: 0px -1px 5px #e4c1ae;
  border: none;
  border-radius: 100px;
  /* position: absolute; */
}

.btn:hover {
  /* mix-blend-mode: color-burn; */
  filter: grayscale(100%);
}

.btn-next:hover {
  border-color: rgb(216, 146, 146);
  background-color: rgb(234, 199, 163);
}

.btn-answer-selected {
  /* background-color: coral; */
  filter: grayscale(100%);
}

.center-tittle {
  margin: 0;
  position: absolute;
  top: 55%;
  left: 50%;
  /* -ms-transform: translate(-30%, -50%); */
  transform: translate(-50%, -50%);
}

.container {
  width: 750px;
  height: 490px;
  background-color: transparent;
  background-image: url(/images/Tv.png);
  background-repeat: no-repeat;
  padding: 10px;
  border-radius: 5px;
  margin-top: 300px;
  margin-bottom: 50px;
  /* box-shadow: 0 0 10px 2px; */
}

.container-tittle {
  width: 800px;
  max-height: 100%;
  max-width: 100%;
  margin-top: 400px;
  /* background-color: white; */
  padding: 10px;
  border-radius: 5px;
  /* box-shadow: 0 0 10px 2px; */
}

.flex-container {
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  column-gap: 10px;
}

ul {
  list-style-type: none;
  font-size: 20px;
}

li {
  margin-bottom: 10px;
}

.answer {
  cursor: pointer;
  margin: 0 auto;
  font-size: 20px;
}

.contextcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0 10px 2px;
  background-color: #ffe8e8;
  box-shadow: 0px 16px 5px #f1d2d2 inset;
  box-shadow: 10px 10px 5px #a486c2;
  height: 200px;
  width: 800px;
}

#guess-input {
  width: 250px;
  box-shadow: 0px 5px 5px #f1d2d2 inset;
  box-shadow: 5px 5px 5px #adabeb;
  background-color: #ffe8e8;
  border: 1px solid #e4c0c0;
  border-radius: 5px;
  padding: 30px;
  justify-content: center;
}

.top_ani {
  animation-duration: 1.5s;
  animation-name: topslide;
  animation-timing-function: ease;
}

@keyframes topslide {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}
