*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Rockwell";
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
  /* font-size: 100px; */
  position: relative;
}

.zoom {
  position: sticky;
  top: 0.5vh;
  will-change: transform;
  width: 100%;
  transform: scale(2.2);
}

.zoomtext {
  position: sticky;
  top: 50%;
  left: 50%;
  will-change: transformtext;
  text-align: center;
  color: #d1bfed;
  text-shadow: 1px 1px 2px rgb(100, 69, 126);
  backdrop-filter: blur(10px) saturate(70%);
  border: 10px;
  padding: 100px;
  background-image: linear-gradient(#e5c8f6, #fff6ee, #ffffff);
  font-size: 120px;
  line-height: 200px;
}

p {
  z-index: 2;
  text-align: center; /* Center text within the container */
  color: rgb(157, 94, 220);
  /* background-color: black; */
  padding: 10px;
  opacity: 1;
}

/* .zoom h1 .show {
  opacity: 1;
} */

.bottom {
  height: 150vh;
  position: relative;
  padding: 200px;
  /* transform: scale(2.2); */
}

.bottom .container {
  margin: 0;
  padding: 0;
  width: auto;
}

.top {
  height: 0vh;
}

.wrap {
  height: 400vh;
  position: relative; /* Add relative positioning to the container */
}

section {
  /* display: grid; */
  /* place-items: center; */
  /* align-content: center; */
  /* justify-content: center; */
  min-height: 70vh;
}

.hidden {
  opacity: 0;
  transition: translateX(-100%);
  transition: all 1s; /* You can add a transition for a smooth fade-in effect */
}

.hidden p {
  z-index: 2;
  text-align: center; /* Center text within the container */
  color: rgb(157, 94, 220);
  font-size: 30px;
  padding: 10px;
  opacity: 1;
}

.hidden h1 {
  z-index: 2;
  text-align: center; /* Center text within the container */
  color: rgb(157, 94, 220);
  font-size: 60px;
  padding: 10px;
  opacity: 1;
  background-color: none;
}

.textappear:nth-child(3) {
  transition-delay: 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
}

.bottomstart {
  height: 10vh;
  position: relative;
}

.bottomstart img {
  max-width: 400px; /* Set a maximum width for the image */
  height: auto; /* Maintain the image's aspect ratio */
  display: block; /* Make the image a block-level element */
  margin: 0 auto;
  margin-bottom: 0;
}

.image-container {
  position: relative;
  text-align: center;
  margin-top: 500px;
}

.image-button {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* padding: 100px 220px; */
  width: 485px;
  height: 215px;
  background-color: transparent;
  background-image: url(/images/button.png);
  background-size: cover; /* Make sure the background image covers the button */
  border: none;
  cursor: pointer;
  z-index: 1;
}

.image-button::before {
  content: ""; /* Create an empty pseudo-element */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Place the pseudo-element below the button text */
}

.button-text {
  position: relative;
  z-index: 1;
  font-size: 60px;
  font-weight: 500;
}

.image-button:hover {
  mix-blend-mode: multiply;
}
